/* * {
  border: 1px solid red;
} */

@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@font-face {
  src: url(../fonts/mr_kindlyjasmineg.otf);
  font-family: mr_KindlyJasmineG;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


body {
  font-size: 1em;
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 100vh;
  position: relative;;
  background: url(../images/header.png) no-repeat;
  background-size: 100%;
}

.header__root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 11%;
  padding-top: 2%;
}

.logo_main {
  width: 40px;
  height: 58px;
  filter: brightness(0) invert(1);
}

.header__nav {
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.header__nav_yellow {
  color: var(--yellow, #FFC700);
  font-size: 0.875rem;
}

.header__nav_white {
  margin-left: 1rem;
  color: #fff;
}

.header__title {
  margin: 10% 11%;
}

.header__title_wrap {
  position: relative;
}

.header__title_big {
  margin: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.header__title_small {
  position: absolute;
  top: -1.5rem;
  left: 35rem;
  color: #ffc700;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: mr_KindlyJasmineG;
}

.header__title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title_main {
  margin: 0;
  font-family: sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%, 0);
  -webkit-text-stroke: 1px white;
}

.social-icon {
  display: flex;
  flex-direction: column;
}

.social-icon__item {
  width: 32px;
  height: 32px;
}

.social-icon__item_fb {
  width: 30px;
  height: 30px;
}

.button_wrap {
  margin: 1rem auto;
}

.button {
  width: 14.375rem;
  height: 3.125rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 60px;
  border: 0;
  background: linear-gradient(135deg, #0499dd 0%, #17c1bc 100%);
}

.header__video {
  position: absolute;
  width: 25vw;
  height: 25vh;
  right: 15%;
  top: 85vh;
  background: url(../images/header_video.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.header__video_play {
  position: absolute;
  top: 30%;
  right: 40%;
}

.footer {
  height: 10.8rem;
  display: grid;
  align-items: center;
  background: #ededed;
}

.footer_wrap {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(4, 1fr) 0.5fr;
  grid-template-areas: "logo menu socials contacts post";
  align-items: center;
  justify-items: stretch;
  margin: auto 11%;
}

.logo_footer {
  grid-area: logo;
  width: 80px;
  height: 114px;
}

.footer__menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
}

.footer__menu_item {
  margin-bottom: 0.3rem;
  white-space: nowrap;
  text-decoration: none;
  color: #282828;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__icons {
  grid-area: socials;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__icon_item {
  text-decoration: none;
  margin-bottom: 0.3rem;
  width: 20px;
  height: 20px;
}

.footer__contacts {
  grid-area: contacts;
  margin-left: 0.5rem;
}

.footer__contacts_item {
  margin: 0;
  margin-bottom: 0.3rem;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  color: #282828;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__socials_post {
  grid-area: post;
  display: flex;
  flex-direction: row;
}

.footer__socials_address {
  margin: 0;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  color: #282828;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.social-icon__itemred {
  width: 38px;
  height: 38px;
}

.social-icon__itemyellow {
  width: 32px;
  height: 32px;
}

.social-icon__item_fbblue {
  width: 30px;
  height: 30px;
}

/* Стили.Виды экскурсий. Ответственный - Оля */

.excursion-type {
  /* width: 78%; */
  margin: auto 11%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  justify-content: space-between;
}

.main__title {
  color: #0499dd;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__title_basisMargin {
  flex-basis: 70%;
  margin-top: 0px;
  margin-block-end: 90px;
}

.excursion-type__item {
  display: flex;
  flex-basis: 50%;
}

.excursion-type__icon {
  width: 75px;
  height: 74px;
}

.excursion-type__paragraph {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.excursion-type__title {
  color: #0499dd;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 1.125rem;
  margin-block-end: 0;
}

.excursion-more {
  text-align: center;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  margin-top: 60px;
}

.main__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main__text_black {
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
  color: #282828;
}

.main__text_white {
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 0.6rem;
  }
}

/* Стили. О нас. Ответственный - Катя  */

.about-us__image {
  width: 70%;
}

.about-us__paragraph {
  position: absolute;
  top: 20%;
  right: 15%;
  width: 30%;
  height: 50%;
  box-sizing: border-box;
  padding: 3% 5% 3% 5%;
  background-color: #EDEDED;
  border-radius: 2%;
}

.about-us {
  position: relative;
}

/*популярные туры, ответственный Софья*/

.popular-tours {
  /* padding: 20vh 13vw 30vh 13vw; */
}

.popular-tours__sochi {
  display: flex;
  flex-flow: column;
  width: 328px;
  height: 244px;
  padding: 211px 16px 42px 16px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.12) 0%, #000 100%), url(../images/img_sochi.png), lightgray -22.3px -8px / 112.389% 101.61% no-repeat;
}

.popular-tours__category {
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popular-tours__title {
  color: #FFC700;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.popular-tours__time_price {
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.popular-tours__header {
  margin: 10% 11% 0 11%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* padding-bottom: 5vh; */
}

.popular-tours__cards {
  margin: 0 11% 10% 11%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.popular-tours__horse-rides {
  display: flex;
  flex-flow: column;
  width: 328px;
  height: 244px;
  padding: 211px 16px 42px 16px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%), url(../images/img_horse_riding.png), lightgray -113.9px -271px / 169.899% 153.832% no-repeat;
}

.popular-tours__dragon {
  display: flex;
  flex-flow: column;
  width: 328px;
  height: 244px;
  padding: 211px 16px 42px 16px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%), url(../images/img_dragon.png), lightgray -113.9px -271px / 169.899% 153.832% no-repeat;
}

.button__popular-tours {
  width: 9.675rem;
  height: 2.7rem;
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 60px;
  border: 0;
  background: linear-gradient(135deg, #0499dd 0%, #17c1bc 100%);
}

/* Стили. Галерея. Ответственный - Марина */
.gallery {
  width: 98%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
}

.gallery__text {
  width: 78%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__text_underlined {
  margin: 0px;
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-decoration: underline;
}

.gallery-paysage {
  height: 40vw;
  width: 100%;
  display: grid;
  grid-gap: 1.4em;
}

.gallery__picture {
  border-radius: 0.5em;
}

.gallery__picture_item-1 {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 35vw;
  height: 19.9vw;
}

.gallery__picture_item-2 {
  grid-row: 1/4;
  grid-column: 3/4;
  width: 25vw;
  height: 100%;
}

.gallery__picture_item-3 {
  grid-column: 4/5;
  grid-row: 1/2;
  width: 18vw;
  height: 18.7vw;
}

.gallery__picture_item-4 {
  grid-column: 5/6;
  grid-row: 1/2;
  width: 14.5vw;
  height: 18.7vw;
}

.gallery__picture_item-5 {
  grid-row: 2/4;
  grid-column: 1/2;
  width: 15vw;
}

.gallery__picture_item-6 {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 18.6vw;
}

.gallery__picture_item-7 {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 18.6vw;
}

.gallery__picture_item-8 {
  grid-column: 4/6;
  grid-row: 2/4;
  width: 34vw;
  height: 18.5vw;
}