/* * {
  border: 1px solid red;
} */

@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url(../fonts/mr_kindlyjasmineg.otf);
  font-family: mr_KindlyJasmineG;
  font-style: normal;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 789px;
  position: relative;
  background: url(../images/header.png) no-repeat;
  background-size: 100%;
}

.header__root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 11%;
  padding-top: 2%;
}

.logo_main {
  width: 40px;
  height: 58px;
  filter: brightness(0) invert(1);
}

.header__menu {
  display: none;
}

.header__nav {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.header__nav_yellow {
  color: var(--yellow, #ffc700);
  font-size: 14px;
}

.header__nav_yellow:hover {
  color: #0499dd;
}

.header__nav_white {
  margin-left: 1rem;
  color: #fff;
}

.header__nav_white:hover {
  color: #0499dd;
}

.header__title {
  margin: 20vh 11%;
}

.header__title_wrap1 {
  position: relative;
}

.header__title_big {
  margin: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.header__title_small {
  position: absolute;
  top: -1.5rem;
  left: 8em;
  color: #ffc700;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: mr_KindlyJasmineG;
}

.header__title_wrap2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title_main {
  margin: 0;
  font-family: sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%, 0);
  -webkit-text-stroke: 1px white;
}

.social-icon {
  display: flex;
  flex-direction: column;
}

.social-icon__item {
  width: 32px;
  height: 32px;
}

.social-icon__item_fb {
  width: 30px;
  height: 30px;
}

.button_wrap {
  margin: 1rem auto;
}

.button {
  width: 14.375em;
  height: 3.125em;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 60px;
  border: 0;
  background: linear-gradient(135deg, #0499dd 0%, #17c1bc 100%);
}

.button:hover {
  background: #ffc700;
  color: #000;
}

.social-icon_mob {
  display: none;
}

.header__video {
  position: absolute;
  right: 20%;
  width: 25vw;
  height: 20vh;
  border: none;
  top: 80%;
}

.header__video_item {
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
}

.header__video_play {
  position: absolute;
  top: 40%;
  right: 40%;
  z-index: 1;
}

.popular-tours__sochi {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 300px;
  padding: 190px 16px 42px 16px;
  flex: 1 1 33%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.12) 0%, #000 100%),
    url(../images/img_sochi.png),
    lightgray -22.3px -8px / 112.389% 101.61% no-repeat;
  background-size: cover;
}

.popular-tours__category {
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popular-tours__title {
  color: #ffc700;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.popular-tours__time_price {
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popular-tours__header {
  margin: 10vh 11% 0 11%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.popular-tours__cards {
  margin: 0 11% 10% 11%;
  display: flex;
  flex-flow: row;
  gap: 2%;
  justify-content: space-between;
}

.popular-tours__horse-rides {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 300px;
  padding: 190px 16px 42px 16px;
  flex: 1 1 33%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    url(../images/img_horse_riding.png),
    lightgray -113.9px -271px / 169.899% 153.832% no-repeat;
  background-size: cover;
}

.popular-tours__dragon {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 300px;
  padding: 190px 16px 42px 16px;
  flex: 1 1 33%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    url(../images/img_dragon.png),
    lightgray -113.9px -271px / 169.899% 153.832% no-repeat;
  background-size: cover;
}

.button__popular-tours {
  width: 9.675em;
  height: 2.7em;
  font-size: 12px;
}

#horse_text {
  height: 152px;
}

#sochi_text {
  height: 152px;
}

#dragon_text {
  height: 152px;
}
.about-us__image {
  width: 80vw;
  height: 83vh;
  object-fit: cover;
}

.about-us__paragraph {
  position: absolute;
  top: 150px;
  right: 150px;
  max-width: 542px;
  min-height: 476px;
  box-sizing: border-box;
  padding: 70px;
  background-color: #ededed;
  border-radius: 2%;
}

.about-us {
  position: relative;
}

.excursion-type {
  margin: auto 11%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  justify-content: space-between;
}

.main__title {
  color: #0499dd;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.main__title_basisMargin {
  flex-basis: 70%;
  margin-top: 0px;
  margin-block-end: 90px;
}

.excursion-type__item {
  display: flex;
  flex-basis: 50%;
}

.excursion-type__icon {
  width: 75px;
  height: 74px;
}

.excursion-type__icon_smHeight {
  height: 66px;
}

.excursion-type__paragraph {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.excursion-type__title {
  color: #0499dd;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 18px;
  margin-block-end: 0;
}

.excursion-more {
  text-align: center;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  margin-top: 60px;
}

.main__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main__text_black {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #282828;
}

.main__text_white {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  min-height: 20%;
}

.gallery {
  width: 95vw;
  margin: 150px auto;
}

.gallery__text {
  width: 78%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__text_underlined {
  margin: 0px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: underline;
  margin-block-end: 90px;
}
.gallery-paysage {
  height: 40vw;
  /* width: 95%; */
  margin: 0;
  display: grid;
  grid-template-columns: 14% 18% 28% 18% 14%;
  grid-template-rows: 54% 23% 23%;
  grid-template-areas:
    "one one two three four"
    "five six two eight eight"
    "five seven two eight eight";
  justify-content: stretch;
  align-items: stretch;
  grid-gap: 2%;
  justify-items: stretch;
}
.gallery__picture_item-1 {
  grid-area: one;
}
.gallery__picture_item-2 {
  grid-area: two;
}
.gallery__picture_item-3 {
  grid-area: three;
}
.gallery__picture_item-4 {
  grid-area: four;
}
.gallery__picture_item-5 {
  grid-area: five;
}
.gallery__picture_item-6 {
  grid-area: six;
}
.gallery__picture_item-7 {
  grid-area: seven;
}
.gallery__picture_item-8 {
  grid-area: eight;
}
.footer {
  min-height: 12vw;
  max-height: 173px;
  width: 100vw;
  display: grid;
  align-items: center;
  background-color: #ededed;
}

.footer_wrap {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(4, 1fr) 0.5fr;
  grid-template-areas: "logo menu socials contacts post";
  align-items: center;
  justify-items: stretch;
  margin: auto 11%;
}

.logo_footer {
  grid-area: logo;
  width: 80px;
  height: 114px;
}

.footer_mob {
  display: none;
}

.footer__menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
}

.footer__menu_item {
  margin-bottom: 0.8em;
  white-space: nowrap;
  text-decoration: none;
  color: #282828;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__menu_item:hover {
  color: #0499dd;
}

.footer__icons {
  grid-area: socials;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__icon_item {
  text-decoration: none;
  margin-bottom: 0.3em;
  width: 20px;
  height: 20px;
}

.footer__contacts {
  grid-area: contacts;
  margin-left: 0.5em;
}

.footer__contacts_item {
  margin: 0;
  margin-bottom: 10px;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  color: #282828;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__socials_post {
  grid-area: post;
  display: flex;
  flex-direction: row;
}

.footer__socials_mob {
  display: none;
}

.footer__socials_address {
  margin: 0;
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  color: #282828;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.social-icon_wrapmob {
  display: none;
}

.social-icon__itemred {
  width: 38px;
  height: 38px;
}

.social-icon__itemyellow {
  width: 32px;
  height: 32px;
}

.social-icon__item_fbblue {
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 1700px) {
  .popular-tours {
    margin-top: 10%;
  }
}

@media screen and (max-width: 1300px) {
  .header__video {
    top: 68%;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    width: 100vw;
    height: 1000px;
    position: relative;
    margin-bottom: 20%;
    background: url(../images/header_tablet.png) no-repeat;
    background-size: cover;
  }

  .header__title_small {
    position: absolute;
    top: 60%;
    margin-top: 0;
    left: 75%;
    font-size: 6.25vw;
  }

  .header__title_wrap1 {
    position: relative;
  }

  .header__title_main {
    font-size: 96px;
    line-height: 0.8em;
  }

  .header__video {
    position: absolute;
    width: 38vw;
    height: 15vh;
    right: 10.2%;
    top: 950px;
  }
  .logo_footer {
    width: 7vw;
    height: 9.975vw;
  }
}

@media screen and (max-width: 933px) {
  .popular-tours__dragon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 100vw;
    height: 1024px;
    position: relative;
    background: url(../images/header_tablet.png) no-repeat;
    background-size: cover;
  }

  .header__root {
    margin: 0 10.2%;
    padding-top: 6%;
  }

  .header__menu {
    display: block;
    width: 40px;
    height: 40px;
  }

  .header__nav {
    display: none;
  }

  .header__title {
    margin: 27% 10.2%;
  }

  .header__title_wrap1 {
    position: relative;
  }

  .header__title_big {
    font-size: 48px;
  }

  .header__title_small {
    position: absolute;
    left: 19rem;
    font-size: 48px;
  }

  .header__title_main {
    font-size: 96px;
    line-height: 0.8em;
  }

  .social-icon {
    align-self: flex-end;
  }

  .header__title_wrap2 {
    margin-bottom: 30%;
  }

  .button {
    width: 16.25rem;
  }

  .header__video {
    position: absolute;
    width: 38vw;
    height: 15vh;
    right: 10.2%;
    top: 950px;
  }

  .header__video_play {
    position: absolute;
    top: 30%;
    right: 40%;
  }
  .popular-tours__dragon {
    display: none;
  }
  .about-us__paragraph {
    top: 150px;
    right: 50px;
    max-width: 442px;
    min-height: 450px;
    padding: 55px;
  }

  .excursion-type {
    margin: 150px 10% auto 10%;
    flex-direction: column;
  }

  .excursion-type__paragraph {
    padding: 0 0 0 20px;
  }

  .excursion-more {
    width: 100%;
  }
  .gallery {
    width: 94.79%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .gallery__text {
    width: 84%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .gallery-paysage {
    height: 73.82vw;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 54% 46%;
    grid-template-areas:
      "two three four"
      "two eight eight";
    justify-content: stretch;
    align-items: stretch;
    grid-gap: 8px;
    justify-items: stretch;
  }
  .gallery__picture_item-1 {
    display: none;
  }
  .gallery__picture_item-2 {
    grid-area: two;
  }
  .gallery__picture_item-3 {
    grid-area: three;
  }
  .gallery__picture_item-4 {
    grid-area: four;
  }
  .gallery__picture_item-5 {
    display: none;
  }
  .gallery__picture_item-6 {
    display: none;
  }
  .gallery__picture_item-7 {
    display: none;
  }
  .gallery__picture_item-8 {
    grid-area: eight;
  }
  .gallery__picture {
    border-radius: 0.5em;
  }

  .footer {
    min-height: 22.5vw;
    max-height: 173px;
  }

  .logo_footer {
    width: 65px;
    height: 93px;
  }

  .footer__menu_item {
    font-size: 1.56vw;
  }

  .footer__contacts_item {
    font-size: 1.56vw;
  }

  .footer__socials_address {
    font-size: 1.56vw;
  }
  .social-icon__itemred {
    width: 4.9vw;
    height: 4.9vw;
  }
  
  .social-icon__itemyellow {
    width: 4.2vw;
    height: 4.2vw;
  }
  
  .social-icon__item_fbblue {
    width: 3.9vw;
    height: 3.9vw;
  }
}
@media screen and (max-width: 690px) {
  .popular-tours__horse-rides {
    display: none;
  }

  .main__text_underlined {
    display: none;
  }
}

@media screen and (max-width: 570px) {
  .popular-tours {
    margin-top: 150px;
  }
}

@media screen and (max-width: 428px) {
  .header {
    height: 928px;
    background: url(../images/header_mob.png) no-repeat;
    background-size: cover;
  }

  .header__root {
    margin: 0 5.6%;
    padding-top: 6%;
  }

  .header__menu {
    display: block;
    width: 40px;
    height: 40px;
  }

  .header__nav {
    display: none;
  }

  .header__nav_yellow {
    display: none;
  }

  .header__nav_white {
    display: none;
  }

  .header__title {
    margin: 27% 5.6%;
  }

  .header__title_wrap1 {
    position: relative;
  }

  .header__title_big {
    font-size: 36px;
  }

  .header__title_small {
    position: absolute;
    left: 13rem;
    font-size: 48px;
  }

  .header__title_wrap2 {
    display: block;
  }

  .header__title_main {
    font-size: 72px;
    line-height: 1em;
  }

  .social-icon {
    display: none;
  }

  .social-icon_mob {
    display: flex;
    float: right;
    flex-direction: column;
  }

  .social-icon__item_mob {
    width: 32px;
    height: 32px;
  }

  .social-icon__item_fbmob {
    width: 30px;
    height: 30px;
  }

  .button_wrap {
    margin: 5.6rem auto;
  }

  .header__video {
    position: absolute;
    width: 75vw;
    height: 23vh;
    left: 5.6%;
    top: 820px;
  }

  .header__video_play {
    position: absolute;
    top: 30%;
    right: 40%;
  }
  .popular-tours__horse-rides {
    display: none;
  }
  .about-us__paragraph {
    top: 165px;
    right: -40px;
    max-width: 361px;
    min-height: 400px;
    padding: 28px;
  }
  .excursion-type {
    margin: 150px 6% auto 6%;
  }

  .main__text_black {
    font-size: 13px;
  }

  .gallery {
    width: 89%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .gallery__text {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .gallery-paysage {
    height: 550px;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 34%;
    grid-template-areas:
      "two three"
      "two four"
      "eight eight";
    justify-content: stretch;
    align-items: stretch;
    grid-gap: 8px;
    justify-items: stretch;
  }
  .gallery__picture_item-1 {
    display: none;
  }
  .gallery__picture_item-2 {
    grid-area: two;
  }
  .gallery__picture_item-3 {
    grid-area: three;
  }
  .gallery__picture_item-4 {
    grid-area: four;
  }
  .gallery__picture_item-5 {
    display: none;
  }
  .gallery__picture_item-6 {
    display: none;
  }
  .gallery__picture_item-7 {
    display: none;
  }
  .gallery__picture_item-8 {
    grid-area: eight;
  }
  .footer {
    min-height: 30vw;
    max-height: 412px;
    padding-top: 10%;
  }

  .footer_wrap {
    display: flex;
    flex-direction: column;
    margin: 0 6%;
  }

  .footer__menu {
    display: none;
  }

  .footer__menu_item {
    font-size: 12px;
  }

  .footer__socials_mob {
    display: flex;
    flex-direction: row;
  }

  .footer__icons {
    display: none;
  }

  .footer__icons_mob {
    display: flex;
    flex-direction: column;
  }

  .footer__icon_item {
    width: 19px;
    height: 19px;
  }

  .footer__icon_itemmob {
    display: block;
  }

  .footer__contacts {
    display: none;
  }

  .footer_mob {
    display: flex;
    margin: 10% 0;
    align-self: flex-start;
  }

  .footer__menu_mob {
    display: flex;
    flex-direction: column;
    margin-right: 1.7em;
  }

  .footer__contacts_item {
    display: block;
    margin-bottom: 0.6em;
    font-size: 12px;
    margin-left: 1em;
  }

  .footer__socials_post {
    display: none;
  }

  .social-icon_wrap {
    display: none;
  }

  .social-icon_wrapmob {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 370px) {
  .header__title_big {
    font-size: 8.4vw;
  }

  .header__title_wrap1 {
    position: relative;
  }

  .header__title_small {
    position: absolute;
    margin-top: 0;
    top: 40%;
    left: 50%;
    font-size: 11.2vw;
  }

  .header__title_main {
    font-size: 16.8vw;
    line-height: 1em;
  }

  .footer__menu_item {
    font-size: 2.8vw;
  }

  .footer__contacts_item {
    font-size: 2.8vw;
    margin-bottom: 2.5vw;
  }

  .footer__icon_item {
    width: 4.44vw;
    height: 4.44vw;
  }
}

@media screen and (max-width: 330px) {
  .excursion-type__paragraph {
    width: 45%;
  }

  .button {
    width: 14.3755rem;
  }

  .excursion-more {
    width: 84%;
  }

  .main__text_black {
    font-size: 11px;
  }

  .excursion-type {
    margin: 150px 2% auto 2%;
  }

  .about-us__paragraph {
    top: 184px;
    right: -40px;
    max-width: 350px;
    min-height: 349px;
    padding: 20px;
  }
}
